# Introducción a Python

**Profesor**: Juan Felipe Nájera Puente

# **Variables**

## **¿Qué es una *variable* en programación (Python)?**

* Una variable es un **nombre** que se refiere a un valor u **objeto** almacenado en la memoria del computador (o servidores).
* Este valor u **objeto** puede ser de diferentes tipos como:
  * Un valor numérico
  * Una cadena de caracteres (texto)
  * Otros tipos de datos
* En los lenguajes de programación, las variables son esenciales para **recordar** o **guardar** información sobre estos valores u **objetos**, para ser **usado** una o múltiples veces en el programa.
  * Este es el objetivo principal de las **variables**.
* El nombre de las variables suele estar relacionado con la información que almacena.
* Las variables pueden almacenar cualquier tipo de dato que se les asigne.

### **Asignación o creación de una variable en Python**

En Python, se asigna un valor a una variable de manera muy sencilla.

Para asignar una variable, debes seguir estos pasos:


1.   Escribir el nombre de la variable.
2.   Escribir el signo `=` (operador de asignación).
3.   Especificar el valor que se quiere que tenga la variable.

![image.png]()

#### **Ejemplo 1**
Queremos recordar un número de 100 dígitos, como humanos no podemos hacerlo fácilmente, pero con Python es sencillo.

Por ejemplo queremos saber y guardar los 100 primeros dígitos de Pi
*   Pi es la relación entre longitud de una circunferencia y su diámetro.
*   Actualmente tiene aproximadamente 32.8 millones de dígitos.
*   Es un número irracional.

In [1]:
# valor de pi
pi = 3.141592653589793238462643383279502884197169399375105820974944592307816406286208998628034825342117067

In [2]:
# llamar variable en google colab o jupyter notebook
pi

3.141592653589793

In [3]:
# suma de pi (cálculo en python)
pi+10

13.141592653589793

#### **Ejemplo 2**
¿Qué pasará si realizamos la siguiente asignación? ❓

In [4]:
# asignacion?
7 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2110068543.py, line 2)

En Python, este código genera error. La razón es que en una asignación, el lado izquierdo debe ser una variable que puede almacenar un valor, no un valor constante. En este caso, estamos tratando de asignar un valor (`7`) a una variable (`x`), pero se lo ha escrito al revés.



```
# Asignación correcta
x = 7
```

### **¿Cómo se cambia el valor de una variable?**

Las variables se llaman así porque pueden **cambiar** con el tiempo. En programación, puedes cambiar el valor de una variable simplemente asignándole un nuevo valor.

#### **Ejemplo 3**
Asignamos a la variable `nombre` el nombre `Ana` primero y de ahí le actualizamos con `Anita`.

In [9]:
# cambio de variables
nombre = "Ana"
nombre = "Anita"
nombre = 'Juan'

¿Qué resultado va a imprimir? ❓

In [10]:
nombre

'Juan'

Lo mismo sucede si cambiamos la variable a un valor numérico.

In [7]:
nombre = 1

¿Qué resultado va a imprimir? ❓

In [8]:
nombre

1

#### **Ejemplo 4**
¿Qué valor va a imprimir si escribimos lo siguiente? ❓

In [11]:
# variable
nombres

NameError: name 'nombres' is not defined

Cuando una variable no se ha definido, es decir, no se le ha asignado un valor, Python muestra un error de tipo `NameError`. Esto indica que la variable no está definida y no se puede mostrar su valor.

### **Variables dentro de variables**

Una variable puede contener **otra variable** dentro de ella.

#### **Ejemplo 5**
Se quiere asignar una variable dentro de otra. ¿Cómo se realiza? ❓

In [12]:
# variables dentro de variables
primera_variable = 820
segunda_variable = primera_variable

¿Qué va a imprimir cada variable? ❓

In [ ]:
primera_variable

In [ ]:
segunda_variable

### **Sintaxis en variables**

El término **"sintaxis"** se refiere al conjunto de reglas que definen cómo se debe escribir el código en un determinado lenguaje de programación.
  - Es similar a la gramática en los idiomas.

Cuando hablamos de la **sintaxis en Python**, nos referimos al uso correcto del lenguaje y al orden de las palabras para poder comunicarnos de manera efectiva, tanto entre el usuario y el computador, como entre diferentes usuarios.
  - De esta manera evitamos errores de comprensión.

Es importante tener en cuenta que en programación, los nombres de las variables distinguen entre mayúsculas y minúsculas.

#### **Ejemplo 6**
Verifiquemos el nombre de la variable `Primera_Variable` y `primera_variable`:

In [13]:
Primera_Variable = 5

¿Qué va a ocurrir al imprimir cada variable? ❓

In [14]:
Primera_Variable

5

In [15]:
primera_variable

820

En Python, las variables distinguen entre mayúsculas y minúsculas.

Es posible definir una variable con mayúsculas, pero no es lo recomendable a nivel de sintaxis y visualización del código.

**¡Importante!**

Los nombres de las variables no pueden empezar con números.

#### **Ejemplo 7**
¿Qué sucederá cuando se declara una variable como `1_version`? ❓

In [16]:
1_version = 5

SyntaxError: invalid decimal literal (862236290.py, line 1)

In [17]:
1version = 5

SyntaxError: invalid decimal literal (4107221271.py, line 1)

In [18]:
version_1 = 5

Es posible definir variables con tildes o acentos en Python. Sin embargo, a nivel de buenas prácticas de programación, no es recomendable.

In [19]:
versión = 4

In [20]:
versión

4

**¡Importante!**

No se admite caracteres de puntuación como `@`, `,`,  `$`,  `%` en los nombres de las variables.

#### **Ejemplo 8**
Verifiquemos qué pasa al utilizar estos caracteres al asignar variables.

In [21]:
ell@s = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2554807576.py, line 1)

In [22]:
dinero_$ = 99

SyntaxError: invalid syntax (1133835302.py, line 1)

In [23]:
porcentaje_% = 100

SyntaxError: invalid syntax (2511666107.py, line 1)

In [24]:
buscar,arreglar = 4

TypeError: cannot unpack non-iterable int object

En Python, los nombres de las variables no pueden contener caracteres de puntuación como `@`, `,`, `$` o `%`, ya que cada una tiene una función específica en Python (esto se verá más adelante).

# Tipos de datos

## ¿Cuáles son los tipos de datos más comunes?

**Recordar** que llamamos **objetos** a los datos que guardamos en una variable. Cada variable pertenece a un cierto **tipo** de dato.

Los tipos de datos más comunes son:
*  Números enteros (`int`)
*  Números de coma flotante o decimales o contínuos (`float`)
*  Texto o cadena de caracteres (`str`)
*  Valores booleanos - `True`, `False` (`bool`)

**Tomar en cuenta:**

No es necesario indicar el tipo de dato cuando creas un objeto porque Python lo hace por ti, sin embargo, es importante corregirlo en caso de que se equivoque.
*  En otros lenguajes de programación hay que indicar qué tipo de dato es el objeto.

![image.png]()

### Ejemplo 9
Imprimamos diferentes tipos de datos y verifiquemos qué tipos de datos son:

In [25]:
idioma = "chino mandarín"
hablantes_nativos = 908.7
personas_interesadas = 10
habla_chino = True

Uso de función `type()` para saber qué tipo de datos son:

In [26]:
type(idioma)

str

In [27]:
type(hablantes_nativos)

float

In [28]:
type(personas_interesadas)

int

In [29]:
type(habla_chino)

bool

**¿Tiene sentido que los objetos tengan estos tipos de datos?** ❓

En python hay funciones predeterminadas para poder convertir un objeto en otro tipo de dato. Estas son:
*  `str()` convierte el objeto en una string.
*  `int()` convierte el objeto en un número entero.
*  `float()` convierte el objeto en un número de coma flotante.
*  `bool()` convierte el objeto en un dato tipo boolano.

# **Función `print()`**

## **¿Qué es la función `print()`?**

Es la primera **función** que se aprende en programación con Python, incluso antes de comprender completamente **qué es una función**.

**Definición rápida de función:**
* Una palabra reservada que forma parte de nuestro código para realizar una tarea específica.

**Definición rápida de `print()`:**
* Imprime o muestra un objeto (valor, resultado, caracter, etc) en la pantalla.

Las funciones tienen paréntesis **`()`** donde se escriben los argumentos que la función necesita para realizar su tarea.

### **Ejemplo 10**
¿Cómo mostramos la frase `¡Hola mundo!`?

In [30]:
print("¡Hola mundo!")

¡Hola mundo!

En Google Colab o Jupyter Notebook funciona también solo escribiendo y corriendo el código en una sola línea.

In [31]:
"¡Hola mundo!"

'¡Hola mundo!'

## **¿Qué admite la función `print()`?**

`print()` puede admitir como argumentos cualquier tipo de dato:
*   Cadena de caracteres
*   Números
*   Otros tipos de datos

### **Ejemplo 11**
¿Qué pasa cuando no se pasa un argumento en `print()`?

In [32]:
print('La función "print()" se utiliza para mostrar los datos en la pantalla.')
print("El hobby favorito de Laura es...")
print()
print("leer libros.")

La función "print()" se utiliza para mostrar los datos en la pantalla.
El hobby favorito de Laura es...

leer libros.

En Python, el texto o cadena de caracteres se coloca **entre comillas dobles (`" "`) o simples** (`' '`), pero se muestra sin ellas cuando se imprime.

Las comillas indican que los caracteres dentro pertenecen al tipo de datos **string** o `str` (tipo de dato texto).

Observar en la primera función `print()` del ejemplo de anterior cómo se utilizaron las comillas.



```
print('La función "print()" se utiliza para mostrar los datos en la pantalla.')
```

## **¿Cómo imprimir varios valores con `print()`?**

La función `print()` puede recibir múltiples argumentos o entradas como una secuencia de expresiones separadas por comas. También se puede utilizar variables para ahorrar código y hacer el programa más legible.

#### **Ejemplo 12**
Veamos un ejemplo de cómo imprimir varios valores en una función con `print()`:

In [33]:
nombres = "José Esteban"
apellidos = "Benitez Revelo"
edad = 26
print("Mi nombre es", nombres, apellidos, "y tengo", edad, "años.")

Mi nombre es José Esteban Benitez Revelo y tengo 26 años.

En este ejemplo:


*   `nombres`, `apellidos`, y `edad` son variables que almacenan datos.
*   La función `print()` imprime una cadena de texto compuesta de varias partes, incluyendo las variables y texto literal.

## **Argumentos adicionales en `print()`**

### **Saltos de línea**
Cada vez que se llama la función `print()` su contenido se muestra en una nueva línea.

¿Hay otra forma de hacerlo? ❓

#### **Ejemplo 13**
También se puede hacerlo escribiendo el símbolo `\n` (nueva línea) dentro de un `str`.

Veamos en el siguiente ejemplo:

In [34]:
print("El hobby favorito de Laura es...\nleer libros.")

El hobby favorito de Laura es...
leer libros.

¿Qué pasa si ponemos un espacio después de `\n`? ❓

In [35]:
print("El hobby favorito de Laura es...\n leer libros.")

El hobby favorito de Laura es...
 leer libros.

### **¿Qué hace el argumento `end`?**

El argumento `end` en la función `print()` se utiliza para especificar qué carácter o cadena de caracteres debe agregarse al final de la salida.

#### **Ejemplo 14**
Veamos dos ejemplos de cómo utilizar `end`:

In [36]:
print("Bienvenidos a la clase de", end=" ")
print("Fundamentos con Python")

Bienvenidos a la clase de Fundamentos con Python

In [37]:
print("Mi correo electrónico es:", end=" ")
print("jf.najera.data", end="@")
print("gmail.com")

Mi correo electrónico es: jf.najera.data@gmail.com

Tomar en cuenta que, cuando no se usa el `end`, el valor por defecto es salto a nueva línea, que sería `end="\n"`.

In [38]:
print("Mi correo electrónico es:")
print("jf.najera.data")
print("gmail.com")

Mi correo electrónico es:
jf.najera.data
gmail.com

In [39]:
print("Mi correo electrónico es:", end="\n")
print("jnajera", end="\n")
print("asig.com.ec", end="\n")

Mi correo electrónico es:
jnajera
asig.com.ec

### **¿Qué hace el argumento `sep`?**

Por defecto, Python separa los elementos en la función `print()` con espacios. Al utilizar el argumento `sep`, se puede especificar con qué carácter o cadena de caracteres se quiere separar los elementos.

#### **Ejemplo 15**
Utilicemos `sep` para separar datos de hora.

In [40]:
hora = 10
minuto = 30
segundo = 55

In [41]:
# imprimir con separación por defecto (espacios)
print(hora, minuto, segundo)

10 30 55

In [42]:
# imprimir con separación personalizada (dos puntos)
print(hora, minuto, segundo, sep=":")

10:30:55

In [43]:
# imprimir con separación personalizada (slash)
print(hora, minuto, segundo, sep="/")

10/30/55

# Función `input()`

## ¿Qué permite realizar la función `input()`?

Permite al usuario ingresar un valor al programa, convirtiendo cualquier valor que se ingrese en tipo `str` o caracter.

---
**IMPORTANTE**

Hay que tomar en cuenta que si los datos son numéricos, hay que convertirlos de `str` o tipo texto a números.

### Ejemplo 16
¿Cómo utilizar la función `input()`?

Hay distintas formas:

#### Ejemplo 16.1

In [44]:
input("¿Cómo te llamas? ")

'Juan Felipe'

In [45]:
nombre = input("¿Cómo te llamas? ")

¿Qué devuelve la variable `nombre`?

In [46]:
nombre

'Felipe'

#### Ejemplo 16.2

In [47]:
edad = input("¿Cuántos años tienes? ")

¿Qué devuelve la variable `edad` y qué tipo de dato?

In [48]:
edad

'32'

In [49]:
32

32

In [50]:
edad + 4

TypeError: can only concatenate str (not "int") to str

In [51]:
type(edad)

str

Para poder cambiar la variable `edad`, ¿cuál es la forma correcta de hacerlo?

In [52]:
edad = int(edad)

In [53]:
edad

32

In [54]:
type(edad)

int

In [55]:
edad = int(input("Qué edad tienes? "))

In [56]:
print(type(edad))

<class 'int'>

In [57]:
print(edad + 10)

42

# Identidades

## ¿Qué es la identidad del objeto en Python?

¿Se acuerdan que python la primera definición de **variable**?

*   Es un **nombre** que se refiere a un **objeto** que se asocia a un lugar de la **memoria** del computador (o servidores).

El **lugar de la memoria** se denomina en Python **identidad del objeto**.

A todos y a cada uno de los objetos en Python, cuando se almacena en la memoria, se les asigna un número de identificación único que ayuda al compilador de Python **funcione mejor y utilizar la memoria de manera eficiente.**

El **id** es asignado al objeto cuando se crea.
* El id es la dirección de memoria del objeto y será diferente cada vez que ejecute el programa.
  * Con excepción de algún objeto que tiene una identificación única constante, como números enteros de -5 a 256.
  * Por lo tanto, el id se mantiene constante durante toda la corrida del programa, por lo que no se puede actualizar o modificar.
  * Hagan relación el id como el Banner ID en la USFQ, un identificador, que en este caso funciona para saber dónde está almacenado el objeto.

### Ejemplo 17
¿Qué pasa, en relación a la identidad, cuando se imprime el valor 7 y se asigna el valor 7 a una variable? ❓

La función `id()` devuelve la **identidad** o lugar de memoria donde se ubica el objeto, el cual es un número entero único dado específicamente al objeto.

In [58]:
7

7

In [59]:
a = 7

In [61]:
print(id(7))
print(id(a))
print(id("7"))
print(id(7.0))

140723165596280
140723165596280
140723165657384
1825687636336

In [ ]:
c = a

¿Qué va a pasar con la identidad de la variable `c`? ❓

In [ ]:
id(c)

In [ ]:
id(1)

In [ ]:
id("hola")

**IMPORTANTE**

---
Tomar en cuenta que 7, `a` y `c` son el mismo objeto en **Python** y ocupan una posición **única** de memoria.

¿Por qué sucede esto?

Python realiza esto para poder **preservar la memoria**.

### Ejemplo 18
¿Qué pasará si usamos el valor `7.0` en lugar de `7`? ¿Tendrán la misma identidad?❓

In [ ]:
x = 7.0

In [ ]:
print(id(7))
print(id(x))

¿Por qué pasa esto? ❓

**¿Es realmente útil o se suele usar el id en Python?**

En muy pocas ocasiones.
* Puede probar si dos referencias son iguales comparando sus ids.
* La función `id()` solo es realmente útil en situaciones de depuración del código (debugging).

**IMPORTANTE**

---
Los **objetos** de datos simples (`int`, `float`, `bool`) en Python tienen **tres** características:
*  Valor
*  Tipo
*  Identidad